<h1>Edit <%= @edible.name %></h1>

<form action="/edibles/<%=@edible.id %>" method="POST">
	<input type="hidden" name="_method" value="PATCH">
  <label> Change name of food type to </label>

  <select name="selected_edible">
      <option value="">
        -
      </option>
      <% @edibles.each do |edible| %>
        <option value="<%=edible.name%>"><%=edible.name%></option>

      <% end %>
      <br><input type="submit" value="Update">
  </select>

</form>

<h3>Back to
    <a href="/">my locations</a>
</h3>
