<h2>Food library:</h2>

<ul>
    <% @edibles.each do |e| %>

        <li>
            <a href="/edibles/<%= e.id%>"><%= e.name%></a>
        </li>
  
    <% end %>
</ul>
<br>  
<br>
<h3>
    Back to <a href="/">My Locations</a>
<br>
    See <a href="/locations">All locations</a>

</h3>
