<h1>Main library: edibles</h1>

<ul>
    <% @edibles.each do |a| %>
    <h2>
        <li>
            <a href="/edibles/<%= a.id%>"><%= a.name%></a>
        </li>
    </h2>
    <% end %>
</ul>
<br>  
<h3>Back to
    <a href="/">my library</a>
</h3>
