MAY NOT NEED THIS

<h2>Add a food category to existing list: </h2>

<form action="/edibles" method="POST">
  <label> Name of new food category: </label>
  <input type="text" name="[edible]name"> </br>
<br>
  <input type="submit" value="Create">