
<h2>Add a food category to existing list: </h2>

<form action="/edibles/new" method="POST">
  <label> Name of new food category: </label>
  <input type="text" name="edible_type"> </br>

  <input type="submit" value="Submit">

  
MAY NOT NEED THIS

<h2>Add a food category to existing list: </h2>

<form action="/edibles" method="POST">
  <label> Name of new food category: </label>
  <input type="text" name="[edible]name"> </br>
<br>
  <input type="submit" value="Create">
</form>

????????????
<label> Add a new food category  </label>
<form action="locations/add_edible" method="post">
  <input type="text" name="[location]edible">
  <input type="submit" value="Add food">

        



</form>
  
