<h2>Details for <%= @edible.name%>:</h2>




<% if !@edible.locations.empty? %>

  

  
<% else %>
  <h2>There are no food to show by
      <%=@edible.name%>... yet</h2>
<% end %>

<br>
<h3>
    <a href="/edibles/<%=@edible.id%>/add_location">Add a location</a>
    to
    <%=@edible.name%>.
</h3>

<h3>Back to
    <a href="/">my library</a>
</h3>

<h3>Back to
    <a href="/edibles">all edibles</a>
</h3>
