<h3>Please sign up here:</h3>
<br>

<form action="/signup" method="POST">
  <p>Userame: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>
  <input class="btn btn-primary" type="submit">

</form>

<h3>If you registered before, <a href="/login">log in here</a>.</h3>