<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to 'Glean Me'!</h2>

    <div class="content">
    
      <p>
        <p>This site was created as part of the effort to reduce hunger in the world. 

        Gleaning aims at collecting food from produce on public or private properties (with permission) or from supermarkets at the end of the day that would otherwise be thrown away. 
      We can share the resources and distribute them to those who need them.
        <br>
      
      
        <br>
      <h3><center>If you don't have an account please <a href="/signup">sign up</a> or <a href="/login">log into</a> your account!</center></h3>
      </p>
    </div>



  </div>
</div>
