

<h2>Add a new food category to this location: </h2>
    <h3>
    	<ul>
    		<li>Address: <%=@location.address%></li>
    <li>Latitude: <%=@location.lat%></li>
    <li>Longitude: <%=@location.lng%></li>
		</ul>
	<h3

<form action="/locations/<%=@location.id%>/add_edible" method="post">
  <input type="text" name="[location]edible1">
  <input type="submit" value="Add food">
</form>
<br>
<form action="locations/add_edible" method="post">
  <input type="text" name="[location]edible2">
  <input type="submit" value="Add food">
</form>


  <br>

Go to location:
<a href="/locations/#{:id}"></a><h3>

