<h2> Add a new edible to
    <%=@location.name%>
    library
</h2>

<form action="/locations/<%=@location.id%>/add_edible" method="post">
    <h3>
        <label>Edible name</label>
    </h3>
    <input type="text" name="edible_name">

    <input type="submit" value="Add food">
</form>
