<h2>Fill out this form to add a new location:</h2>
<br>
<h3>
  <form action="/locations/new" method="POST">

  <label> Location address</label>
  <input type="text" name="location[address]" size="40" > </br>

  <label> Latitude</label>
  <input id="location_lat" name="location[lat]" size="8" type="number" step=0.01 value="location[lat]">

  <label> Longitude</label>
  <input id="location_lng" name="location[lng]" size="8" type="number" step=0.01 value="location[lat]">
  <br>

<label> Description</label>
<input id="location_desc" name="location[description]" size="80" type="text" value="">
<br>

<br>
  <label>Choose a location type:</label>
  <select name="location[loc_type]">
      <option value="">
        -
      </option>
      <% @locations.each do |location| %>
        <option value="<%=location.loc_type%>"><%=location.loc_type%>
        </option>
      <% end %>
  </select>
<br>

<h3><label>Choose a food type for this location:</label>
<select name="location[selected_edible]">
      <option value="">
        -
      </option>
      <% @edibles.each do |e| %>
        <option value="<%=e.edible%>"><%=e.edible%>
        </option>
      <% end %>
  </select>
<br>

<br>
 
If you need to add a new food category, please add it here first:
<br>
  <label> Name of new food category: </label>
  <input type="text" name="location[edible]"> <br>
  <input type="submit" value="Add location">
</form>

